#nav {
    overflow: hidden;
    position: relative;
    background: $gray-600;
    width: 100vw;
    a {
        color: $my-white;
    }
    ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        height: 4vh;
        align-items: center;
        color: rgba(245, 245, 245, 0.932);
        background: $gray-600;
        height: 6vh;
    }

    // icone

    #nav-icon {
        transform: scale(-0.6) !important;
        display: none;
        width: 60px;
        height: 45px;
        position: relative;
        margin: 50px auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;
    }

    #nav-icon span {
        display: block;
        position: absolute;
        height: 8px;
        width: 50%;
        background: $my-white;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }

    #nav-icon span:nth-child(even) {
        left: 50%;
        border-radius: 0 9px 9px 0;
    }

    #nav-icon span:nth-child(odd) {
        left: 0px;
        border-radius: 9px 0 0 9px;
    }

    #nav-icon span:nth-child(1),
    #nav-icon span:nth-child(2) {
        top: 0px;
    }

    #nav-icon span:nth-child(3),
    #nav-icon span:nth-child(4) {
        top: 18px;
    }

    #nav-icon span:nth-child(5),
    #nav-icon span:nth-child(6) {
        top: 36px;
    }

    #nav-icon.open span:nth-child(1),
    #nav-icon.open span:nth-child(6) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #nav-icon.open span:nth-child(2),
    #nav-icon.open span:nth-child(5) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    #nav-icon.open span:nth-child(1) {
        left: 5px;
        top: 7px;
    }

    #nav-icon.open span:nth-child(2) {
        left: calc(50% - 5px);
        top: 7px;
    }

    #nav-icon.open span:nth-child(3) {
        left: -50%;
        opacity: 0;
    }

    #nav-icon.open span:nth-child(4) {
        left: 100%;
        opacity: 0;
    }

    #nav-icon.open span:nth-child(5) {
        left: 5px;
        top: 29px;
    }

    #nav-icon.open span:nth-child(6) {
        left: calc(50% - 5px);
        top: 29px;
    }
}

@media screen and(max-width:576px) {
    #nav {
        position: relative;
        display: flex;
        justify-content: flex-end !important;
        align-items: center !important;

        #nav-icon {
            margin-right: 20px !important;
            display: block;
        }
        .mainMenu {
            display: none !important;
        }
    }
    nav {
        a {
            color: $my-white;
        }
        width: 35%;
        position: absolute;
        right: -300px;
        height: 95vh;
        background-color: $gray-600;
        transition: 0.7s ease-in;
        ul {
            list-style-type: none;
            flex-direction: column;
            height: 100%;
            display: flex;
            align-items: center;
            height: 60%;
            justify-content: space-around;
        }
        #mobileNavLog{
            color: $my-white;
            font-size: 0.8rem;
        }
    }
    .slideMenu {
        right: 0;
    }
}
